In [2]:
import pandas as pd

In [3]:
excel = pd.read_excel('container3.xlsx')
excel.to_csv('container3.csv')

In [4]:
df = pd.read_csv('container3.csv')
df.head()

,Unnamed: 0,항명,호출부호,선명,입항횟수,입항횟수.1,구분,외내,입출,총톤수,...,차항지,전출항지,선박용도,외항:한국인선원수\n내항:해기사선원수,외항:외국인선원수\n내항:보통선원수,승객,예선,도선,부선호출부호1,부선호출부호2
0,0,부산,9LU2815,KIRI,2021,2,최종,내항,출항,19,...,부산,남항,일반화물선,1.0,NaN,NaN,Y,N,NaN,NaN
1,1,부산,9LU2090,AMS 1,2022,1,최종,외항,출항,"2,727",...,OCEAN DISTRICT,인천,일반화물선,NaN,14.0,NaN,Y,Y,NaN,NaN
2,2,부산,070592,현대 당진,2022,6,최종,내항,출항,"2,792",...,기타항,기타항,일반화물선,5.0,5.0,0.0,Y,Y,NaN,NaN
3,3,부산,PCPV,LIZ F,2022,1,최종,외항,출항,327,...,OCEAN DISTRICT,"HOSHIKA, NAGASAKI",일반화물선,NaN,5.0,NaN,N,N,NaN,NaN
4,4,부산,JVNN7,ARCHE,2022,3,최종,외항,출항,498,...,부산,감천,일반화물선,NaN,1.0,NaN,Y,N,NaN,NaN

In [5]:
df2 = df['호출부호']
df2_unique = df2.drop_duplicates()
print(df2_unique)

0        9LU2815
1        9LU2090
2         070592
3           PCPV
4          JVNN7
          ...
10119      V7EQ5
10133    T8A3640
10148      V2ED5
10165    9LY2216
10169      V7GE7
Name: 호출부호, Length: 1295, dtype: object

In [6]:
vsl = pd.read_csv('ais_for_waiting_area_vsl_info.csv')

matching_rows = vsl[vsl['CALL_SIGN'].isin(df2_unique)]

# 일치하는 데이터프레임 출력
print(matching_rows)

                                    VSL_ID        VSL_NAME   VSL_MMSI  \
57    0a11f002-6862-3d75-80fc-3c53b8ce0a9b    CHANG RONG 8  352001660
163   1cc15eb9-b088-371f-9229-d02ba0dc09e2      XIN BIN HE  352001753
359   3d073417-8e5e-3c7a-bc7b-9742e3c4ad17     OCEAN GRACE  511100559
492   56c43d13-bc4d-3299-bbf8-d003790b37de      SKY AURORA  441632000
711   7f97bff0-1c3d-3d7d-a368-a8e33ffda805  DONGJIN GENIUS  440344000
842   96abdd3b-dea6-38f3-b3d7-aea301c134f9       PROVIDENT  352001639
940   a8deb037-7be0-3800-b38a-361b8adcbe6e      SKY BEAUTY  370099000
1042  bed2db3f-a935-34c4-a2d1-b16ec667139a     HONOR OCEAN  352002265
1062  c20ba2f9-552d-3726-807b-465fdfa9a00a    WEAVER ARROW  309996000
1273  f13a4744-5c98-31c3-82ac-11bc1fde48b2       CHUN SHUN  352001662

        VSL_IMO CALL_SIGN      SHIP_TYPE  VSL_LENGTH  VSL_WIDTH  DIMENSIONS_A  \
57    8591615.0    3E2687  GENERAL_CARGO       144.0       21.0         122.0
163   8357007.0    3E2590  GENERAL_CARGO       156.0       21.0         135.0
359   9754733.0   T8A3719      CONTAINER       158.0       23.0         143.0
492   9550175.0     DSQN2  GENERAL_CARGO       102.0       18.0          85.0
711   9196474.0      D7PC  GENERAL_CARGO        92.0       17.0          78.0
842   9186431.0    3E3693      CONTAINER       121.0       20.0         114.0
940   9196462.0     3FYJ4  GENERAL_CARGO        92.0       17.0          75.0
1042  9158745.0    3E3839      CONTAINER       122.0       22.0          92.0
1062  9151826.0     C6PG5  GENERAL_CARGO       200.0       33.0         170.0
1273  9108996.0    3E2688  GENERAL_CARGO       128.0       18.0         119.0

      DIMENSIONS_B  DIMENSIONS_C  DIMENSIONS_D  GROSS_TONNAGE
57            22.0          16.0           5.0            NaN
163           21.0          14.0           7.0            NaN
359           15.0          13.0          10.0        11856.0
492           17.0          10.0           8.0         5500.0
711           14.0           6.0          11.0         4346.0
842            7.0           5.0          15.0         6154.0
940           17.0           7.0          10.0         4346.0
1042          30.0          10.0          12.0         6393.0
1062          30.0          16.0          17.0        36008.0
1273           9.0          13.0           5.0         6577.0

In [7]:
matching_rows.to_csv('match_vsl3.csv', index=False)

In [8]:
df3 = pd.read_csv('match_vsl3.csv')
df3.head()

,VSL_ID,VSL_NAME,VSL_MMSI,VSL_IMO,CALL_SIGN,SHIP_TYPE,VSL_LENGTH,VSL_WIDTH,DIMENSIONS_A,DIMENSIONS_B,DIMENSIONS_C,DIMENSIONS_D,GROSS_TONNAGE
0,0a11f002-6862-3d75-80fc-3c53b8ce0a9b,CHANG RONG 8,352001660,8591615.0,3E2687,GENERAL_CARGO,144.0,21.0,122.0,22.0,16.0,5.0,NaN
1,1cc15eb9-b088-371f-9229-d02ba0dc09e2,XIN BIN HE,352001753,8357007.0,3E2590,GENERAL_CARGO,156.0,21.0,135.0,21.0,14.0,7.0,NaN
2,3d073417-8e5e-3c7a-bc7b-9742e3c4ad17,OCEAN GRACE,511100559,9754733.0,T8A3719,CONTAINER,158.0,23.0,143.0,15.0,13.0,10.0,11856.0
3,56c43d13-bc4d-3299-bbf8-d003790b37de,SKY AURORA,441632000,9550175.0,DSQN2,GENERAL_CARGO,102.0,18.0,85.0,17.0,10.0,8.0,5500.0
4,7f97bff0-1c3d-3d7d-a368-a8e33ffda805,DONGJIN GENIUS,440344000,9196474.0,D7PC,GENERAL_CARGO,92.0,17.0,78.0,14.0,6.0,11.0,4346.0

In [9]:
df4 = df3['CALL_SIGN'].drop_duplicates()
print(df4)

0     3E2687
1     3E2590
2    T8A3719
3      DSQN2
4       D7PC
5     3E3693
6      3FYJ4
7     3E3839
8      C6PG5
9     3E2688
Name: CALL_SIGN, dtype: object

In [10]:
matching_con = df[df['호출부호'].isin(df4)]

# 일치하는 데이터프레임 출력
print(matching_con)

       Unnamed: 0  항명     호출부호              선명  입항횟수  입항횟수.1  구분  외내  입출  \
144           144  부산    DSQN2      SKY AURORA  2022      24  최종  외항  출항
145           145  부산    DSQN2      SKY AURORA  2022      24  최종  외항  입항
156           156  부산     D7PC  DONGJIN GENIUS  2022      34  최종  외항  출항
157           157  부산     D7PC  DONGJIN GENIUS  2022      34  최종  외항  입항
196           196  부산  T8A3719     OCEAN GRACE  2022       9  최종  외항  입항
...           ...  ..      ...             ...   ...     ...  ..  ..  ..
9826         9826  부산   3E2688       CHUN SHUN  2023       5  최종  외항  입항
10058       10058  부산     D7PC  DONGJIN GENIUS  2023      19  최종  외항  출항
10059       10059  부산     D7PC  DONGJIN GENIUS  2023      19  최종  외항  입항
10097       10097  부산  T8A3719     OCEAN GRACE  2023      18  최종  외항  출항
10098       10098  부산  T8A3719     OCEAN GRACE  2023      18  최종  외항  입항

          총톤수  ...              차항지             전출항지   선박용도  \
144     5,500  ...    NAGOYA, AICHI         YOKOHAMA  일반화물선
145     5,500  ...    NAGOYA, AICHI         YOKOHAMA  일반화물선
156     4,346  ...  MOJI/KITAKYUSHU         YOKOHAMA  일반화물선
157     4,346  ...         YOKOHAMA         YOKOHAMA  일반화물선
196    11,856  ...  VOSTOCHNYY PORT  VOSTOCHNYY PORT  일반화물선
...       ...  ...              ...              ...    ...
9826    6,577  ...      VLADIVOSTOK           WEIHAI  일반화물선
10058   4,346  ...  MOJI/KITAKYUSHU             KOBE  일반화물선
10059   4,346  ...  MOJI/KITAKYUSHU             KOBE  일반화물선
10097  11,856  ...  VOSTOCHNYY PORT  VOSTOCHNYY PORT  일반화물선
10098  11,856  ...  VOSTOCHNYY PORT  VOSTOCHNYY PORT  일반화물선

      외항:한국인선원수\n내항:해기사선원수 외항:외국인선원수\n내항:보통선원수  승객 예선 도선 부선호출부호1 부선호출부호2
144                    4.0                11.0 NaN  N  N     NaN     NaN
145                    4.0                11.0 NaN  N  N     NaN     NaN
156                    5.0                11.0 NaN  N  N     NaN     NaN
157                    5.0                11.0 NaN  Y  Y     NaN     NaN
196                    NaN                20.0 NaN  Y  Y     NaN     NaN
...                    ...                 ...  .. .. ..     ...     ...
9826                   NaN                17.0 NaN  Y  Y     NaN     NaN
10058                  4.0                12.0 NaN  Y  Y     NaN     NaN
10059                  4.0                12.0 NaN  Y  Y     NaN     NaN
10097                  NaN                20.0 NaN  Y  Y     NaN     NaN
10098                  NaN                20.0 NaN  Y  Y     NaN     NaN

[270 rows x 29 columns]

In [14]:
# 문자열을 datetime으로 변환
matching_con.loc[:, '입항일시'] = pd.to_datetime(matching_con['입항일시'])
matching_con.loc[:, '출항일시'] = pd.to_datetime(matching_con['출항일시'])

# 시간 차이 계산 (end_time - start_time)
df['time_diff'] = matching_con['출항일시'] - matching_con['입항일시']

# 결과 출력
print(df['time_diff'])

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
10175   NaT
10176   NaT
10177   NaT
10178   NaT
10179   NaT
Name: time_diff, Length: 10180, dtype: timedelta64[ns]